<html>
  <head>
    <title>Increasing numbers in link</title>
  </head>
  <body>
    <h1>Increasing numbers in link</h1>
    <h:faultTest>
      <div id="fault"/>
    </h:faultTest>
    <a rel="next" href="increasing?${h:otherParams}id=${h:plusone}"><h:plusone/></a>
  </body>
</html>
